@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["WelcomePer"]</h1>
    <p>@Localizer["Learn"] <a href="https://learn.microsoft.com/aspnet/core">@Localizer["AspInfo"]</a>.</p>
</div>
